In [17]:
import pandas as pd

books = pd.read_csv('../data/books.csv', encoding='latin-1', low_memory=False)
ratings = pd.read_csv('../data/ratings.csv', encoding='latin-1', low_memory=False)
users = pd.read_csv('../data/users.csv', encoding='latin-1', low_memory=False)

valid_book_ratings = pd.merge(pd.merge(ratings, users, on='user_id', how='left'), books, on='isbn', how='left')

In [18]:
for i in valid_book_ratings.columns:
    print(i)

user_id
isbn
rating
Location
Age
book_title
book_author
year_of_publication
publisher

In [19]:
valid_book_ratings = valid_book_ratings[['user_id', 'isbn', 'rating']]
valid_book_ratings

         user_id        isbn  rating
0         276725  034545104X       0
1         276726   155061224       5
2         276727   446520802       0
3         276729  052165615X       3
4         276729   521795028       6
...          ...         ...     ...
1048301   250764   451410777       0
1048302   250764   452264464       8
1048303   250764  048623715X       0
1048304   250764   486256588       0
1048305   250764   515069434       0

[1048306 rows x 3 columns]

In [20]:
valid_book_ratings.to_csv(r'D:\University\Third year\semester 2\BD\Project\big-data-project\data\ratings.csv')

In [29]:
unique_user_ids = users['user_id'].unique()
ratings_filtered = ratings[ratings['user_id'].isin(unique_user_ids)]
unique_isbn = books['isbn'].unique()
ratings_filtered = ratings[ratings['isbn'].isin(unique_isbn)]
ratings_filtered.to_csv(r'../data/ratings.csv', index=False)